

body {
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff4e1;
    color:#333333;
    display: flex;
    justify-content: space-between;
    padding: 30px 300px;
}

.header-logo {
    font-size: 35px;
    font-weight: 800;
    display: flex; 
}

ul {
    list-style: none;
    margin: 0;
    display: flex; 
    font-size: 20px;  
}

a {
    font-weight: bold;
    text-decoration: none;
    padding: 8px; 
    color:#333333
}

.content-container {
    padding: 30px 300px;
    margin-bottom: 100px;
}

.container-1 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%; /* Creates a square aspect ratio, adjust as needed */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .container-1 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333333;
    font-weight: bold;
    

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.welcome-message-container {
    font-size: 200px;
    font-weight: extra-bold;
    color: #333333;
}

.p {
    font-size: 20px;
    inline-size: min-content;
}

button {
    background-color: #9ddcdc;
    color:#F9FAF8;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding: 4px 16px;

}



.container-2 {
    background-color: #9ddcdc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 8px 80px;
    margin-bottom: 16px;
}

h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 25px;
}

.content-container-2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 100px; 
}

.subcontent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rounded-corner-container {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 8px;
}

.subtext-container {
    max-width: 150px;
    color:#1F2937;
    text-align: center;
}

.container-3 {
    background-color: #ffebb7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.content-container-3 {
    margin-top: 70px;
    margin-bottom: 100px; 
}
.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    width: 800px;
    height: auto;
}

cite {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

.container-4 {
    background-color: #e67a7a;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.subcontainers {
    width:auto;
    display: flex;
    flex-wrap: wrap;
}


.left-subcontainer {
    background-color: #9ddcdc;
    color: #333333;
    border-radius: 10px;
    padding: 50px 100px; 
    margin: 100px 200px;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    gap:10px;

    display: flex;
    flex-direction: column;
    text-align: left;
    flex-shrink: inherit;
}




/*@media (max-width: 800px) {
    .left-subcontent-container {
        padding: 20px 50px;
    }
} */

ul.hours {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
}

h4 {
    margin-right: auto;
    padding: 0;
    margin: 0; 
}


.button-2 {
    border: 3px solid #E5E7EB;
    border-radius: 5px;
}

.footer {
    background-color: #fff4e1;
    color: #333333;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

